body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;
}

.main {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

.main .container {
  display: flex;
}

.main__sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  background-color: #1C1A19;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/bg-map.jpg) center center no-repeat;
  background-size: 100%;
  background-size: cover;
  width: 65%;
}

.enter-form {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 55px 112px;
  max-width: 355px;
  width: 100%;
}


.enter-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter-form__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}

.enter-form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 45px;
}

.enter-form__content__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 13px;
}

.input__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
  /* padding-bottom: 10px; */
  /* border-bottom: 2px solid #E4E4E4; */
}

.input__wrap:last-child {
  margin-bottom: 0;
}

.input__title {
  display: flex;
  width: fit-content;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px;
}

.input__field {
  display: flex;
  width: 100%;
  border: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.enter-form__content__link, .button-submit, .enter-form__content__text__link {
  background: #ffffff;
  border: 0;
  width: fit-content;
  height: fit-content;
}

.enter-form__content__link {
  align-self: flex-end;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  margin-bottom: 46px;
}

.button-submit {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #FDBF5A !important;
  border-radius: 70px !important;
  height: 60px !important;
  width: 100% !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 25px !important;
  line-height: 29px !important;
  color: #000000 !important;
  text-transform: none !important;
}

.enter-form__content__text {
  margin-top: 33px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #828282;
}

.enter-form__content__text__link {
  color: #FDBF5A;
}

.inner__map, .inner__profile {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 21px 27px; */
  padding-left: 21px;
  padding-right: 21px;
  height: 12%;
  min-height: 105px;
  background-color: #1C1A19;
}

.header__nav__list {
  display: flex;
}

.header__nav__item {
  margin-right: 20px;
}

.header__nav__item:last-child {
  margin-right: 0;
}

.header__nav__item__link {
  cursor: pointer;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: unset;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.content {
  position: relative;
  width: 100%;
  height: 88%;
}

.popup {
  /* display: none; */
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popup__order {
  display: flex;
  flex-direction: column;
}

.popup--map {
  width: 100%;
  max-width: 486px;
  top: 60px;
  left: 60px;
}

.popup__address {
  padding: 28px ;
  padding-bottom: 0;
  margin-bottom: 23px;
  border-bottom: 1px solid #E0E0E0;
}

.popup__address__input {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #E0E0E0;
}

.popup__address__input:last-child {
  border-bottom: 0;
  margin-top: 15px;
}

.popup__address__input__field {
  position: relative;
  border: 0;
  padding-left: 30px;
}

.popup__address__input:after {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
}

.popup__address__input:first-child:after {
  background: url('./img/icon-from.svg');
  width: 14px;
  height: 14px;
}

.popup__address__input:last-child:after {
  background: url('./img/icon-to.svg');
  width: 17px;
  height: 17px;
}

.popup__address__input__btns {
  position: relative;
  display: flex;
  align-items: center;
}

.popup__address__input__btns:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 50%;
  width: 1px;
  height: 30px;
  /* border-right: 1px solid #E0E0E0; */
  background-color: #E0E0E0;
}

.popup__address__input__btns__cross, .popup__address__input__btns__arrow {
  display: flex;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  background: unset;
  width: fit-content;
  height: fit-content;
}

.popup__address__input__btns__cross {
  margin-right: 24px;
}

.popup__option {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px -5px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 32px 46px;
}

.popup__option__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.popup__option__list__item {
  display: flex;
  flex-direction: column;
  max-width: 118px;
  background: #FFFFFF;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 12px;
  opacity: .6;
  cursor: pointer;
  transition: opacity .3s;
}

.popup__option__list__item:hover {
  opacity: 1;
  transition: opacity .3s;
}

.popup__option__list__item.active {
  opacity: 1;
  transition: opacity .3s;
}

.popup__option__list__item__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 8px;
}

.popup__option__list__item__cost {
  display: flex;
  flex-direction: column;
}

.popup__option__list__item__cost__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #828282;
}

.popup__option__list__item__cost__price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.popup__option__list__item__img {
  width: 94px;
  margin-top: 20px;
}

.popup__option__list__item__pic {
  width: 100%;
  object-fit: none;
}

.popup__wraper {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.popup__title {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 14px;
  width: fit-content;
}

.popup__subtitle {
  display: flex;
  width: fit-content;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #7B7B7B;
  margin-bottom: 40px;
}

/* MAP */
.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapboxgl-map {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
/* MAP */

.popup--profile {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.popup__profile-success {
  flex-direction: column;
  max-width: 822px;
}

.popup__profile-success .popup__wraper {
  align-items: center;
  padding: 90px 114px;
}

.popup--profile .button-submit {
  max-width: 353px;
}

.popup--profile .popup--profile {
  text-align: center;
}

.inner__profile .map-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(28, 26, 25, 0.5), rgba(28, 26, 25, 0.5));
}

.popup__profile {
  display: flex;
  flex-direction: column;
  max-width: 888px;
}

.popup__profile .popup__wraper {
  padding: 67px 43px;
  align-items: center;
}

.popup__profile form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.popup__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.popup__content__col {
  display: flex;
  flex-direction: column;
  max-width: 355px;
  width: 100%;
}

.popup__content__row {
  margin-bottom: 25px;
}

/* .popup__content__row__input .MuiInput-root {
  width: 100%;
} */

.popup__content__row--2x {
  display: flex;
  justify-content: space-between;
}

.popup__content__row--2x .popup__content__row__input {
  max-width: 160px;
  width: 100%;
  margin-bottom: 0;
}

.popup__content__row:last-child{
  margin-bottom: 0;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 28px;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card__row:last-child {
  margin-bottom: 0;
}

.card__row__date {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.card__row__number {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}

.card__row__number__item {
  margin-right: 20px;
}

.card__row__number__item:last-child {
  margin-right: 0;
}